/*Stylesheet: Signup*/


/*
#container{
	clear: left;
	margin:0 auto;
	width:900px;
	height:100%;
}


/*
#header a img{
	height: 48px;
	width:200px;
}

#topmenu {
	padding-top: 15px;
	margin-left:305px;
}
*/

/*
#content {
	margin:0 auto;
	width:400px;
	font:20px bold arial,sans-serif;
	/*color:#fff;
	float:left;
}
*/

#tipoo{
	float:left;
	margin-top:180px;
}

#tipoo img{
	width:500px;
	height:300px;	
}


