<!doctype html>
<html>
<!--Template by Jonathan Nungaray @Jonatthu-->
<head>
    <meta charset="UTF-8">
    <title>Publicar un nuevo texto - TIPOO</title>
	{% include 'headerinclude.html' %}
    <link href="stylesheets/texto.min.css" rel="stylesheet">
    <link href="stylesheets/upload_text.min.css" rel="stylesheet">

</head>

<body>
<div id="main">
    {% include 'header.tmp' %}
    <div id="edit">
        <div id="titlee"><i class="fa fa-upload"></i> Publicacion del texto</div>

     <form id="sessionForm" action="data_text" method="post" novalidate="validate">
         {% block data_block %}{% endblock %}
        
        </form>

    </div>
</div>
<script src="js/validate.min.js"></script>
<script src="js/validateform.min.js"></script>
    </body>
</html>
