<!doctype html>
<html> 
 <!-- Designed by Jonathan Nungaray @Jonatthu -->
<head>
    <meta charset="UTF-8">
    <title>TIPOO - Tutorial inteligente para la enseñanza de la programacion orientada a objetos.</title>
    <link href="stylesheets/index.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//use.edgefonts.net/abel.js"></script> 
    
</head>

<body>
    <div id="main">
    <div id="navBar" class="mainbg">
        <ul id="logoSection">
            <li><a href=""><i class="fa fa-inbox"></i>Tipoo</a></li>
        </ul>
        <ul id="searchSection">
            <li><i class="fa fa-search"></i></li>
            <li>Buscar en Tipoo</li>
        </ul>        
        <ul id="userSection">
            <li><a href="/" class="active"><i class="fa fa-home"></i>  Inicio</a></li>
            <li><a href="/login"><i class="fa fa-plug"></i>  Iniciar Sesión</a></li>
            <li><a href="/login#signup"><i class="fa fa-pencil"></i>  Registrarse</a></li>
        </ul>
        <ul>
            <li id="bar"><i class="fa fa-bars"></i></li>
            <li id="barT"><i class="fa fa-bars"></i></li>

        </ul>
    </div>
    
    <div id="landScape"> 
        <div id="content" class="padBox">
            <div id="title"><i class="fa fa-inbox"></i>Tipoo</div> 
            <div id="message">
                <center>Tutorial inteligente para la enseñanza de la programacion orientada a objetos.</center> <br>
                Con el sistema de tutoría inteligente TIPOO podrás aprender de la forma más cómoda y sencilla el paradigma de                   la programación orientada a objetos.
            </div>
            <div id="buttons">
                <a href="/login"><button id="login" class="lnd">
                    <i class="fa fa-plug"></i> Iniciar Sesión
                </button></a>
                <a href="/login#signup"><button id="signup" class="lnd">
                    <i class="fa fa-pencil"></i> Registrate
                </button></a>
            </div>
        </div>
    </div>
    
    <div id="presentation" class="padBox">
        <h1><i class="fa fa-inbox"></i>Tipoo conoce tu forma de aprender</h1>
        <p>Sabemos que eres unico, y por ende aprendes de manera más eficiente por medio de la estimulación de algún sentido.</p>
        <div id="controls">
            <ul>
                <li id="visual"><i class="fa fa-eye icV"></i> Visual</li>
                <li id="audi"><i class="fa fa-volume-up icA"></i> Auditivo</li> 
                <li id="kine"><i class="fa fa-cogs icK"></i> Kinestésico</li>
            </ul>
        </div>
    </div>
    
    <div id="typesSlider" class="padBox">
            
            <div class="slide" style="background:url(http://i.nextmedia.com.au/News/lesson_blackboard.jpg);   background-position: center;background-size: cover;">
                <div>
                <h1>Visual</h1>
                <i class="fa fa-eye cV"></i> 
                <p>Aprende mejor cuando lee o ve la información representada de alguna manera, ya sea a través de libros, en la pizarra o apuntes. Este tipo de aprendiz tiene más facilidad para recordar imágenes como caras y fotografías.</p>
                </div> 
            </div>
            <div class="slide" style="background:url(http://beardedgentlemenmusic.com/wp-content/uploads/2014/07/Person-listening-to-a-record.jpg);   background-position: center;background-size: cover;">
                <div>
                <h1>Auditivo</h1>
                <i class="fa fa-volume-up cA"></i>                 
                <p>Aprende mejor cuando recibe las explicaciones oralmente. Este tipo de aprendiz tiene más capacidad para reconocer voces, sonidos o melodías. </p>
               </div>
            </div>            
        <div class="slide" style="background:url(http://www.desktophdwallpaper.com/wp-content/uploads/wallpapers/Random/Two-Hands-Touching-Desktop-Wallpaper.jpg);   background-position: center;background-size: cover;">
                <div>
                <h1>Kinestésico</h1>
               <i class="fa fa-cogs cK"></i>      
                <p>Aprende mejor cuando puede asociar la información que recibe a los sentidos del gusto, tacto y olfato. Aprenden mejor cuando experimentan la información. Este tipo de aprendiz tiene más facilidad de aprender una coreografía, una pintura o una actividad deportiva, entre otros. </p>
               </div>
            </div>
        </div>
    
    
    <div id="testSection" class="padBox">
            <h1>Haz un Test!</h1>
            <p>Test para determinar el estilo de aprendizaje predominante</p>
            <button id="test" class="lnd"><i class="fa fa-pencil"></i> Test</button>
    </div>
    
    <div id="footer" class="fit-con padBox">
        <div class="fit-3div padBox">
            <h1>Acerca de Tipoo</h1>
            <p><br>Tipoo es un software de enseñanza online que las universidades pueden emplear con fines educativos hacia sus alumnos, por medio de guías, examenes de diferentes tipos basados en el tipo de aprendizaje de cada uno de las personas (visual, auditivo y kinestésico).<br><br>D.R. ©2014 Facultad de Ciencias Químicas e Ingeniería, Universidad Autónoma de Baja California Calzada Universidad 14418, Parque Industrial Internacional Tijuana, Tijuana, Baja California, México C.P. 22390</p>
        </div>
        <div class="fit-3div padBox">
            <h1>Navega en Tipoo</h1>
            <ul class="sul padBox">
                <li>Hola</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>                
            </ul>
        </div>
        <div class="fit-3div padBox"> 
            <h1>Contactanos</h1>
            <ul class="sul padBox">
                <li>Hola</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>                
            </ul>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="js/slidercore.js"></script>
    <script type="text/javascript" src="js/index.min.js"></script>
    <!--comentario !-->
</body>

</html>
