<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recursos Didactico</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">
	
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    {% include 'headerinclude.html' %}


</head>

<body>


    <!-- BARRA NAVEGADORA -->
    <div id="main">
    {% include 'header.tmp' %}
	
    <!-- Set your background image for this header on the line below. -->
	<!-- FIN BARRA NAVEGADORA -->

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
					<h2 class="post-title"> 
						<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Introduccion a Java </h2> </a>
					
                </div>			
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Variables, objetos y clases </h2> </a>
					
                </div>
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Codificacion de imágenes </h2> </a>
					
                </div>
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Ambiente de ejecución y arreglos </h2> </a>
					
                </div>
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Tópicos avanzados de java</h2> </a>
					
                </div>
				
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Manejo de Excepciones</h2> </a>
					
                </div>
				
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Recursos Escenciales de Java
						 </h2> </a>
					
                </div>
				
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Hilos</h2> </a>
					
                </div>
				
				<div class="post-preview">
					<h2 class="post-title">
					<a href="post.html">
						<i class="fa fa-pencil-square-o fa-stack- "></i>
                         </i>Manipulación de medios</h2> </a>
					
                </div>
				
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                       <!-- <a href="#">Older Posts &rarr;</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
