<!doctype html>
<html> 
  
<head>
    <meta charset="UTF-8">
    <title>Videos de Asignaturas - TIPOO</title>
    <link href="stylesheets/video.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//use.edgefonts.net/abel.js"></script> 
    
</head>

<body>
<div id="main">
    <div id="navBar" class="mainbg">
        <ul id="logoSection">
            <li><a href="/"><i class="fa fa-inbox"></i>Tipoo</a></li>
        </ul>
        <ul id="searchSection">
            <li><i class="fa fa-search"></i></li>
            <li>Buscar en Tipoo</li>
        </ul>        
        <ul id="userSection">
            <li><a href="/" class="active"><i class="fa fa-home"></i>  Inicio</a></li>
            <li><a href="/login"><i class="fa fa-plug"></i>  Iniciar Sesión</a></li>
            <li><a href="/login#signup"><i class="fa fa-pencil"></i>  Registrarse</a></li>
        </ul>
        <ul>
            <li id="bar"><i class="fa fa-bars"></i></li>
            <li id="barT"><i class="fa fa-bars"></i></li>

        </ul>
    </div>
    
<div id="separador" style="background:url(http://www.agi.com/images/events/live-events/2013-Integrating-MATLAB-STK-Seminar/Matlab_figure.png);background-size:cover;background-position:center;">
        <h1><i class="fa fa-book"></i> Métodos Numericos</h1>
</div>
<div id="menu"><div><span class="left filter"><i class="fa fa-sliders"></i> Filtrar <ul><li><i class="fa fa-bookmark"></i> Asignatura</li><li><i class="fa fa-user"></i>
 Tutor</li></ul></span><span class="activespan right"><i class="fa fa-th-large"></i></span><span class="right"><i class="fa fa-th-list"></i></span><span id="gToggle" class="right"><i class="fa fa-sort"></i> Ocultar todo</span></div></div>    
    
    <div class="container">
        <div class="block" id="num1">
            <div class="head"><i class="fa fa-book"></i> Tutores <small>(5k)</small><span class="toggle"><i class="fa fa-caret-square-o-up"></i> Ocultar Materia</span></div>
            <div class="content">
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
            </div>
            <div class="more"><i class="fa fa-refresh"></i> Mostrar más</div>
        </div>
        
        <div class="block" id="num2">
            <div class="head"><i class="fa fa-book"></i>  Guías y Tareas <small>(9k)</small><span class="toggle"><i class="fa fa-caret-square-o-up"></i> Ocultar Materia</span></div>
            <div class="content">
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
            </div>
            <div class="more"><i class="fa fa-refresh"></i> Mostrar más</div>
        </div>
        
        <div class="block" id="num3">
            <div class="head"><i class="fa fa-book"></i> Examenes <small>(9k)</small><span class="toggle"><i class="fa fa-caret-square-o-up"></i> Ocultar Materia</span></div>
            <div class="content">
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
            </div>
            <div class="more"><i class="fa fa-refresh"></i> Mostrar más</div>
        </div>        

 <div class="block" id="num4">
            <div class="head"><i class="fa fa-book"></i> Videos <small>(9k)</small><span class="toggle"><i class="fa fa-caret-square-o-up"></i> Ocultar Materia</span></div>
            <div class="content">
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/TVHQsTVW1qY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
                <div class="video" style="background:url(https://i.ytimg.com/vi/67qworViFpY/0.jpg);background-size:cover;background-position:center;"><figcaption><i class="fa fa-video-camera"></i> 3:05 &nbsp&nbsp <i class="fa fa-eye"></i> 10k &nbsp&nbsp <i class="fa fa-thumbs-up"></i> 3k</figcaption><div>Video numero titulo #3<br><small>by Prf. Jonathan Nungaray</small></div></div>
            </div>
            <div class="more"><i class="fa fa-refresh"></i> Mostrar más</div>
        </div>                
        
    </div>
    
        
</div> 
    
    <script src="js/index.min.js"></script>
    </body>
</html>
