<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="Keywords" content="tutorial,inteligente,poo,programaci&oacute;n,orientado,objetos">
		<meta name="Description" content="Sistema de tutoria inteligente adaptivo para el un mejor aprendizaje de la programaci&oacute;n orientada a objetos">
		<meta name="author" content="UABC">
		<title>TIPOO</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/js/upload.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/upload.css">
	</head>
	<body>
		{% block form_upload %}{% endblock %}
		<!--
				<header>
			<figure id="logo">
				<a href="/"> <img alt="logo" src="img/logo.svg" />
				<figcaption>
					Tutorial Inteligente
				</figcaption> </a>
			</figure>
			<div id="logout">
				{% block logout %} {% endblock %}
			</div>
		</header>
		<section>
		<h1>Sube material did&aacute;ctico</h1>
		{% block form %}{% endblock %}
		<div>Unidad: {% block chapters %}{% endblock %}</div>
		<div>Tema: {% block subjects %}{% endblock %}</div>
		<div>Complejidad: {% block level %}{% endblock %}</div>
		<div>Selecciona tipo de contenido:{% block type %}{% endblock %}</div>
		<div><input id="submit" type="submit" value="Subir" ></div>
		</section>
		</form>
		-->
	</body>
</html>
